html {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 75%;
    height: auto;
}
.headimage {
    border-radius: 25px;
}

.righthead {
    display: flex;
    gap: 16px;
    padding-right: 50px;
}
.body {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 95px;
    background-color: #1f2937;
}

.rightbody {
    display:flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: whitesmoke;
    font-weight: 700;
}

.ph1 {
    color: whitesmoke;
}

button {
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid black;
}

button:hover {
    background-color: blueviolet;
}

.content {
    text-align: center;
}
h2 {
    color: black;
    font-weight: 500;
}

.ph2 {
    color: black;
}

.contentinfo{
    display: flex;
    justify-content: center;
    flex-wrap: flex;
    background-color: #1f2937;
    color: whitesmoke;
    padding-top: 16px;
    gap: 8px;

}

.infoimage {
    border: solid whitesmoke 2px;
    border-radius: 25px;
}