html {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.righthead {
    display: flex;
    gap: 16px;
    padding-right: 50px;

}
